body
{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #201816;
}

html, body
{
/*	height: 100%; */
}

header
{
	background-color: #241b18;
}

header section
{
	width: 940px;
	margin: auto;
}

header img
{
	position: relative;
	top: 45px;
	margin-bottom: 70px;
}

nav
{
	float:right;
	position: relative;
	top: 70px;
}

nav a
{
	color: white;
	text-decoration: none;
	margin-left: 50px;
}

nav a:hover
{
	color: #ffc947;
}

.bigImg
{
	width: 50%;
	float: left;
}

.rightBox
{
	float: left;
	width: 50%;
	background: url(../img/rightBoxBackground.png);
	padding: 30px;
	box-sizing: border-box;
	height: 407.133px;
}

.rightBox h3
{
	font-size: 2.2em;
}

.middleBox
{
	margin-top: 1px;
	width: 33.333333%;
 	float: left;
}

.middleBox img
{
	width: 100%;
	display: block;
}

.strip
{
}

.middleBox
{
	background-color: #4b3a33;
	color: white;
}

.middleBox:nth-child(2n)
{
	background-color: #241b18;
}

.middleBox h4
{
	color:  #ffc947;

}

.middleBox p, .middleBox h4
{
	padding: 0 20px;
	margin: 10px auto;
}

aside.left
{
	background: url(../img/woodworkingwebsitetemplate_04.jpg);
	background-repeat: repeat-y;
	height: 100%;
	width: 250px;
	position: absolute;
	left: 0;
    top: 0;
}

aside.right
{
	background: url(../img/woodworkingwebsitetemplate_06.jpg);
	background-repeat: repeat-y;
	height: 100%;
	width: 250px;
	position: absolute;
    right: 0;
    top: 0;

}

main
{
	width: 940px;
	background-color: #888;
	margin: 0 auto;
}


.mainContainer
{
	width: 1440px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.bottomStrip
{
	background-color: #ffffff;
	width: 100%;
	display: inline-block;
}

.bottomBox
{
	float: left;
	width: 33.333333%;
	background-color: #ffffff;
}

.bottomBox:first-child
{
	background: url(../img/horizontalStrip_03.png) no-repeat top right;
}


.bottomBox h3
{
	color: #241b18;
	margin: 0 20px;
	font-size: 1.4375em;
}
.bottomBox h3:last-child
{
		margin-bottom: 50px;

}

.bottomBox p
{
	color: #7b7b7b;
	margin-bottom: 0px;
	padding-left: 20px;
}

.bottomBox > p
{
	margin-bottom: 10px;
}

.innerBox
{
	background-color: #dddad3;
	display:inline-block;
	width: 270px;
	margin-left: 20px;
}

.innerBox p
{
	color: #7b7b7b;
	float: left;
}

.innerBox img
{
	float: right;
}

footer
{
	width: 100%;
	background-color: #e2b241;
}

footer section
{
	width: 940px;
	height: 100px;
}